<?xml version="1.0" encoding="UTF-8"?>
<!--
	Base Application context definition for the LPLC service.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="customEditorConfigurer"
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<bean
						class="org.springframework.beans.propertyeditors.CustomDateEditor">
						<constructor-arg index="0">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg>
									<value>MM/dd/yyyy</value>
								</constructor-arg>
							</bean>
						</constructor-arg>
						<constructor-arg index="1">
							<value>true</value>
						</constructor-arg>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- Central location for property config definitions -->
	<bean id="propertyConfigurer" class=
		"org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="locations">
			<list>
            	<value>classpath:rumba.properties</value>
				<value>classpath:exception.properties</value>
				<value>classpath:exceptionMessages_en_US.properties</value>
				<value>classpath:warning.properties</value>
			</list>
		</property>
	</bean>
</beans>