<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="licensepoolExceptionFactory"
		class="com.pearson.ed.lplc.exception.LicensePoolExceptionFactory">
		<property name="defaultKey" value="LPLC0001" />

		<property name="codeDescProperties">
			<props>
				<prop key="LPLC0001">${LPLC0001}</prop>
				<prop key="LPLC0002">${LPLC0002}</prop>
				<prop key="LPLC0003">${LPLC0003}</prop>
				<prop key="LPLC0004">${LPLC0004}</prop>
				<prop key="LPLC0005">${LPLC0005}</prop>
				<prop key="LPLC0006">${LPLC0006}</prop>
				<prop key="LPLC0007">${LPLC0007}</prop>
				<prop key="LPLC0008">${LPLC0008}</prop>
				<prop key="LPLC0009">${LPLC0009}</prop>
				<prop key="LPLC0010">${LPLC0010}</prop>
				<prop key="LPLC0011">${LPLC0011}</prop>
				<prop key="LPLC0012">${LPLC0012}</prop>
				<prop key="LPLC0013">${LPLC0013}</prop>
				<prop key="LPLC0014">${LPLC0014}</prop>
				<prop key="LPLC0015">${LPLC0015}</prop>
			</props>
		</property>
	</bean>

</beans>