<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="licensepoolWarningFactory"
		class="com.pearson.ed.lplc.warning.LicensePoolWarningFactory">
		<property name="defaultKey" value="LPLC0001W" />
		
		<property name="codeDescProperties">
			<props>
				<prop key="LPLC0001W">${LPLC0001W}</prop>
				<prop key="LPLC0002W">${LPLC0002W}</prop>
			
				
			</props>
		</property>
	</bean>

</beans>
